*{ margin: 0;}

header {
    display: flex;
    justify-content: space-between;
    font-size: 70px;
    color: rgb(14, 13, 13);
    background-color: rgb(6, 130, 139);
}
#container{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 3em;
    gap: 1em;
}
section{
    align-items: center;
    justify-items: center;
    border: 0.5px solid black;
    display: grid;
    margin: 0 auto;
}
.foto{
   width: 380px;
   height: 330px;
}
#main-pgvideo{
    display: flex;
    justify-content: center;
    
}
.pgvideo{
    display: flex;
    justify-content: center;  
    text-align: center;
}
footer{
   
   text-align: center;
   font-size: 30px;
   color: black;
   padding: 50px;
   background-color: rgb(6, 130, 139);

}